
<div id="chat-page">
    <h2>Chat Room</h2>
    <div class=" inline-block">
        <button type="button" class="btn btn-secondary add-chat-room" onclick="initModal()"  data-bs-toggle="modal" data-bs-target="#chatBackdrop" disabled id="btn-add-chat">채팅방 추가</button>
        <div class="fruite tab-class text-center">
            <div class="row ">
                <ul class="nav nav-pills d-inline-flex text-center mb-5 chat-room-list">
                    <li class="nav-item" id="chat-bot-room">
                        <a class="d-flex m-2 py-2 bg-light rounded-pill " data-bs-toggle="pill" data-room-id="chat-bot" data-chat-member-id="-1"  >
                            <span class="text-dark" style="width: 125px;">
                                챗봇
                            </span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <!--채팅 창-->
    <div class="inline-block">
        <div id="room-info-box">
            <div class="d-flex justify-content-between bd-highlight mb-3">
                <div id="room-info"   class="p-2 bd-highlight ">방 이름</div>
                <div class="dropdown border border-secondary rounded-pill" >
                    <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-users text-secondary inline-block"></i><div class="inline-block" id="room-member"></div>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-12 chat-window" id="conversation" >
            <div id="chatting"></div>

        </div>
        <form>
            <div class="input-group">
                <input type="text" id="message" class="form-control" placeholder="Type your message...">
                <div class="input-group-append">
                    <button id="send" class="btn btn-success" type="button">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="../../js/common/jquery.js"></script>
<script src="../../js/common/popper.js"></script>
<script src="../../js/chat/sockjs.js"></script>
<script src="../../js/chat/stomp.js"></script>

<link href="../../css/common/googlefont.css" rel="stylesheet">

<!-- Icon Font Stylesheet -->
<link href="../../css/common/fontawesome.css" rel="stylesheet"/>
<link href="../../css/common/bootstrap-icons@1.4.1.css" rel="stylesheet">

<!-- Libraries Stylesheet -->
<link href="../../lib/lightbox/css/lightbox.min.css" rel="stylesheet">
<link href="../../lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

<!-- Template Stylesheet -->
<link href="../../css/chat/chat.css" rel="stylesheet">
<script src="../../js/chat/chat.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" ></script>

