<style>
    input[type="radio"] {
        display: none;
    }
    .btn-group .btn {
        cursor: pointer;
        background-color: #f8f9fa; /* 기본 배경색 */
        color: #000;
    }

    .btn-group .btn.active {
        background-color: #ffc107;
        color: white;
    }

</style>
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">주문확인</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item active text-white">Orders Check</li>
    </ol>
</div>

<div class="container my-5">
    <form id="orderForm" th:action="@{/orders/success}" method="post">
        <div class="row">
            <div class="col-lg-8">
                <div class="rounded shadow-sm p-4">
                    <h4 class="mb-4">주문 메뉴 정보</h4>
                    <ul class="list-group mb-5">
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3" th:each="item : ${cartItems}">
                            <div class="d-flex align-items-center">
                                <img src="img/sundaeguk.jpg" alt="" class="img-fluid m-2" style="width: 60px;">
                                <div>
                                    <h5 class="mb-1" th:text="${item.menuDTO.name}"></h5>
                                    <p class="mb-0" th:text="${item.menuDTO.price + ' x ' + item.menuCount + '개 = ' + (item.menuDTO.price * item.menuCount) + '원'}"></p>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <h4 class="mb-4">주문자 정보</h4>
                    <ul class="list-group mb-5">
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                            <div>
                                <p class="mb-1" th:text="'이름: ' + ${loginUser.name}"></p>
                                <p class="mb-1" th:text="'연락처: ' + ${loginUser.phone}"></p>
                            </div>
                        </li>
                    </ul>

                    <h4 class="mb-4">판매자 정보</h4>
                    <ul class="list-group mb-5">
                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                            <div>
                                <p class="mb-1" th:text="'상호명: ' + ${cartItems[0].menuDTO.storeDTO.name}"></p>
                                <p class="mb-1" th:text="'주소: ' + ${cartItems[0].menuDTO.storeDTO.address}"></p>
                                <p class="mb-1" th:text="'전화번호: ' + ${cartItems[0].menuDTO.storeDTO.sellerDTO.phone}"></p>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- 결제 방법 -->
                <div class="payment-methods">
                    <div class="p-4">
                        <h4 class="mt-4 mb-4">결제 방법</h4>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-warning active">
                                <input type="radio" name="paymentMethod" value="card" checked> 신용, 체크카드
                            </label>
                            <label class="btn btn-outline-secondary">
                                <input type="radio" name="paymentMethod" value="cash"> 계좌이체
                            </label>
                            <label class="btn btn-outline-secondary">
                                <input type="radio" name="paymentMethod" value="meet"> 만나서 결제
                            </label>
                            <label class="btn btn-outline-success">
                                <input type="radio" name="paymentMethod" value="pay"> N Pay
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 총 결제 금액 -->
            <div class="col-lg-4 col-md-12">
                <div class="sticky-top" style="position: sticky; top: 115px;">
                    <div class="rounded shadow-sm">
                        <div class="p-4">
                            <h2 class="mb-5">총 결제 금액</h2>
                            <div class="d-flex justify-content-between mb-3">
                                <h5 class="mb-0">총 주문금액:</h5>
                                <p class="mb-0" th:text="${totalPrice} + '원'"></p>
                            </div>
                            <div class="d-flex justify-content-between mb-3">
                                <h5 class="mb-0">할인금액:</h5>
                                <p class="mb-0 text-secondary">-0 원</p>
                            </div>
                            <div class="py-4 border-top d-flex justify-content-between">
                                <h5 class="mb-0">최종 결제예정금액</h5>
                                <h3 class="mb-0 text-danger" id="totalAmount" th:text="${totalPrice} + '원'"></h3>
                            </div>
                            <input type="hidden" id="hiddenPaymentMethod" name="paymentMethod" value="">
                            <button class="btn btn-secondary text-white w-100 rounded mt-4" type="submit">전체상품 주문하기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script defer src="../../js/orders/orders.js"></script>

