
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">주문 성공</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item active text-white">Success</li>
    </ol>
</div>

<div class="container my-5">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="rounded shadow-sm p-4">
                <h4 class="mb-4" th:text="${order.memberDTO.name}+ '님'"></h4>
                <ul class="list-group mb-5">
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                        <div>
                            <h5 class="mb-1" th:text="'가게: ' + ${order.storeDTO.name}"></h5>
                            <h5 class="mb-1" th:text="'주문시간: ' + ${formattedOrderTime}"></h5>
                            <h5 class="mb-1" th:text="'대기번호: ' + ${order.waitingNum}"></h5>
                            <h5 class="mb-1" th:text="'예상 대기시간: ' + ${estimatedWaitTime} + '분'"></h5>
                            <h5 class="mb-1" th:text="'결제방식: ' + ${order.paymentMethod}"></h5>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
