
<link rel="stylesheet" href="../../css/party/party_main.css">


<div class="party-container">
	<div class="party-form" id="party-container">
		<div class="party-form-header">
			<img src="header_image.png" alt="Party Header" style="margin-right: 10px;">
			<span>초대된 파티 정보</span>
		</div>
		<form th:action="@{/party/{id}(id=${encryptedPartyId})}" th:object="${partyDTO}" method="post">
			<!-- 파티 가게 설정 -->
			<div class="party-form-find-store">
				<span>주문할 가게: </span>
				<input type="text" class="store-name" th:name="storeName" th:value="${partyDTO.storeDTO.name}" id="store_name" readonly>
			</div>
			<!-- //파티 가게 설정 -->

			<!-- 파티 옵션 설정 -->
			<div class="party-option">
				<div class="party-option-header">
					<img src="option_header_image.png" alt="Option Header" style="margin-right: 10px;">
					<span>방 설정 (Option)</span>
				</div>

				<div class="party-option-item">
					<span>결제방식: </span>
					<div th:each="payType : ${payTypes}" class="radio-container">
						<input type="radio" name="pay_type" th:field="*{payType}" th:value="${payType.name()}"
							   th:checked="${partyDTO.payType.name() == payType.name()}" disabled >
						<span th:text="${payType.getKorName()}"></span>
					</div>
				</div>

				<th:block th:if="partyDTO.payTypeKorName == '랜덤 일괄결제'">
					<div class="party-option-item">
						<span>선택방법: </span>
						<div th:each="randomType : ${randomTypes}" class="radio-container">
							<input type="radio" name="random_type" th:field="*{randomType}" th:value="${randomType.name()}"
								   th:checked="${partyDTO.randomType != null && partyDTO.randomType.name() == randomType.name()}" disabled >
							<span th:text="${randomType.getKorName()}"></span>
						</div>
					</div>
				</th:block>

				<button type="submit">파티 가입하기</button>
			</div>
			<!-- //파티 옵션 설정 -->
		</form>
	</div>
</div>