<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>파티 만들기</title>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="../../css/party/party_detail.css">
</head>
<body>
<div class="container">
	<div class="party-container">

		<div class="party-header">
			<!-- 선택한 상점 제목 -->
			<div class="store-name">
				<span th:text="${partyDTO.storeDTO.name}"></span>
			</div>
			<!-- //선택한 상점 제목 -->

			<!-- 랜덤매칭 버튼 -->
			<div class="join-type">
				<input type="checkbox" name="" id="">
			</div>
			<!-- //랜덤매칭 버튼 -->
		</div>

		<!-- 회원리스트, 4명 단위로 끊어서 넘길 것 -->
		<div class="party-main">
			<div th:each="partyMember : ${partyDTO.partyMemberDTOs}">
				<!-- 파티원 한명 정보(파티장)-->
				<th:block th:if="${partyMember.isPartyLeader}">
					<div class="party-member">
						<div>
							<img src="" alt="회원 프로필 사진">
						</div>
						<div>
							<img src="" alt="파티장 왕관">
							<span>파티장</span>
						</div>
						<div>
							<span th:text="${partyMember.memberDTO.name}"></span>
						</div>
					</div>
				</th:block>
				<!-- //파티원 한명 정보(파티장)-->
			</div>

			<div th:each="partyMember : ${partyDTO.partyMemberDTOs}">
				<!-- 파티원 한명 정보(파티원)-->
				<th:block th:unless="${partyMember.isPartyLeader}">
					<div class="party-member">
						<div>
							<img src="" alt="회원 프로필 사진">
						</div>
						<div>
							<span>파티원</span>
						</div>
						<div>
							<span th:text="${partyMember.memberDTO.name}"></span>
						</div>
					</div>
				<!-- //파티원 한명 정보(파티원)-->
				</th:block>
			</div>

			<!-- 파티 초대 -->
			<img class="" style="width: 25%" src="/img/invate-party.png" alt="파티초대 이미지" onclick="partyInvate()">
			<!-- //파티 초대 -->
		</div>
		<!-- //회원리스트, 4명 단위로 끊어서 넘길 것 -->


		<div class="party-footer">
			<!-- 링크로 초대 -->
			<div class="join-link-container">
				<div><span>링크로 초대</span></div>
				<div><span><!--링크 받아올 것--></span></div>
				<!-- 복사 버튼 -->
				<div>
					<img src="" alt="">
					<span>복사</span>
				</div>
				<!-- //복사 버튼 -->
			</div>
			<!-- //링크로 초대 -->

			<div>
				<input type="button" value="메뉴 선택 시작">
			</div>
		</div>

	</div>
</div>
</body>
</html>
