<!-- Navbar start -->
<div class="container-fluid fixed-top">
    <div class="container topbar bg-primary d-none d-lg-block">
        <div class="d-flex justify-content-between">
            <div class="top-info ps-2">
                <small class="me-3"><i class="fas fa-map-marker-alt me-2 text-secondary"></i> <a href="#" class="text-white">서울 강남구 강남대로 396</a></small>
                <small class="me-3"><i class="fas fa-envelope me-2 text-secondary"></i><a href="#" class="text-white">yumyums@yumyums.com</a></small>
            </div>
            <div class="top-link pe-2">
                <!--로그인 상태 -->
                <th:block th:if="${session.loginUser != null}">
                    <a href="/logout" class="text-white"><small class="text-white ms-2">로그아웃</small></a>
                </th:block>
                <!--비로그인 상태-->
                <th:block th:unless="${session.loginUser != null}">
                    <a href="/join" class="text-white"><small class="text-white mx-2">회원가입</small>/</a>
                    <a href="/login" class="text-white"><small class="text-white mx-2">로그인</small></a>
                </th:block>
            </div>
        </div>
    </div>

    <div class="container px-0">
        <nav class="navbar navbar-light bg-white navbar-expand-xl">
            <a href="/" class="navbar-brand">
                <img src="/img/yumyums_logo.png" alt="logo" height="80"/>
            </a>
            <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars text-secondary"></span>
            </button>
            <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                <div class="navbar-nav mx-auto">
                <!--비회원 or 일반회원의 메뉴-->
                <th:block th:if="${session.loginType eq 'm' || session.loginUser == null}">

                    <!-- 주변탐색 -->
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">주변 탐색</a>
                        <div class="dropdown-menu m-0 bg-secondary rounded-0" data-bs-auto-close="false">
                            <a href="/maps" class="dropdown-item">지도로 보기</a>
                            <a href="/menu" class="dropdown-item">메뉴로 보기</a>
                        </div>
                    </div>
                    <!-- //주변탐색 -->

                    <!-- 파티 -->
                    <a href="/party" class="nav-item nav-link">파티 주문</a>
                    <!-- //파티 -->

                    <!-- 마이페이지 -->
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">마이페이지</a>
                        <div class="dropdown-menu m-0 bg-secondary rounded-0" data-bs-auto-close="false">
                            <a href="#" class="dropdown-item">내정보</a>
                            <a href="/member/favorites" class="dropdown-item">단골식당</a>
                            <!--<a href="#" class="dropdown-item">리뷰내역</a>-->
                            <a href="/member/myOrders" class="dropdown-item">결제내역</a>
                        </div>
                    </div>
                    <!-- //마이페이지 -->

                    <!-- FAQ -->
                    <a href="/faq" class="nav-item nav-link">FAQ</a>
                    <!-- //FAQ -->
                </th:block>
                <!-- //비회원 or 일반회원의 메뉴-->

                <!--판매자 회원의 메뉴-->
                <th:block th:if="${session.loginType} eq 's'">
                    <!-- 매장관리 -->
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">매장 관리</a>
                        <div class="dropdown-menu m-0 bg-secondary rounded-0" data-bs-auto-close="false">
                            <a href="/stores" class="dropdown-item">매장 목록</a>
                            <a href="/stores/form" class="dropdown-item">매장 추가</a>
                        </div>
                    </div>
                    <!-- //매장관리 -->

                    <!-- 마이페이지 -->
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">마이페이지</a>
                        <div class="dropdown-menu m-0 bg-secondary rounded-0" data-bs-auto-close="false">
                            <a href="#" class="dropdown-item">판매자 정보</a>
                        </div>
                    </div>
                    <!-- //마이페이지 -->
                    
                    <!-- FAQ -->
                    <a href="/faq" class="nav-item nav-link">FAQ</a>
                    <!-- //FAQ -->
                </th:block>
                <!-- //판매자 회원의 메뉴-->
                </div>

                <!--비회원의 아이콘 메뉴-->
                <th:block th:if="${session.loginUser} == null">
                <div class="d-flex m-3 me-0">
                    <!--cart icon 숨김-->
                    <a href="/cart" class="position-relative me-4 my-auto" style="visibility:hidden;">
                        <i class="fa fa-shopping-bag fa-2x"></i>
                        <span class="position-absolute bg-secondary rounded-circle d-flex align-items-center justify-content-center text-dark px-1" style="top: -5px; left: 15px; height: 20px; min-width: 20px;"></span>
                    </a>
                    <!--login 페이지로 링크-->
                    <a href="/login" class="my-auto">
                        <i class="fas fa-user fa-2x"></i>
                    </a>
                </div>
                </th:block>
                <!-- //비회원의 아이콘 메뉴-->

                <!--일반회원의 아이콘 메뉴-->
                <th:block  th:if="${session.loginType} eq 'm'">
                    <div class="d-flex m-3 me-0">
                        <a href="/cart" class="position-relative me-4 my-auto">
                            <i class="fa fa-shopping-bag fa-2x"></i>
                            <span id="cart-count" class="position-absolute bg-danger rounded-circle d-flex align-items-center justify-content-center text-white px-1 d-none" style="top: -5px; left: 15px; height: 20px; min-width: 20px;"></span></a>
                        <!--마이페이지-내정보 페이지 링크 -->
                        <a href="#" class="my-auto">
                            <i class="fas fa-user fa-2x"></i>
                        </a>
                    </div>
                </th:block>
                <!-- //일반회원의 아이콘 메뉴-->

                <!--판매자회원의 아이콘 메뉴-->
                <th:block  th:if="${session.loginType} eq 's'">
                    <div class="d-flex m-3 me-0">
                        <a href="/cart" class="position-relative me-4 my-auto" style="visibility:hidden;">
                            <i class="fa fa-shopping-bag fa-2x"></i>
                            <span class="position-absolute bg-secondary rounded-circle d-flex align-items-center justify-content-center text-dark px-1" style="top: -5px; left: 15px; height: 20px; min-width: 20px;"></span>
                        </a>
                        <!--마이페이지-판매자 정보 페이지 링크-->
                        <a href="#" class="my-auto">
                            <i class="fas fa-user fa-2x"></i>
                        </a>
                    </div>
                </th:block>
                <!-- //판매자회원의 아이콘 메뉴-->
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->
