
<body>
<table border="">
    <tr>
        <th>id</th>
        <td th:text="${ref.id}"></td>
    </tr>
    <tr>
        <th>title</th>
        <td th:text="${ref.refTitle}"></td>
    </tr>
    <tr>
        <th>writer</th>
        <td th:text="${ref.refWriter}"></td>
    </tr>
    <tr>
        <th>date</th>
        <td th:text="*{#temporals.format(ref.refCreatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
    </tr>
    <tr>
        <th>hits</th>
        <td th:text="${ref.refHits}"></td>
    </tr>
    <tr>
        <th>contents</th>
        <td th:text="${ref.refContents}"></td>
    </tr>
</table>
<button onclick="listReq()">목록</button>
<button onclick="updateReq()">수정</button>
<button onclick="deleteReq()">삭제</button>
</body>
<script th:inline="javascript">
    const listReq = () => {
        console.log("목록 요청");
        location.href = "/ref/list";
    }
    const updateReq = () => {
        console.log("수정 요청");
        const id = [[${ref.id}]];
        location.href = "/ref/update/" + id;
    }
    const deleteReq = () => {
        console.log("삭제 요청");
        const id = [[${ref.id}]];
        if(confirm("정말로 삭제하시겠습니까?")){
            location.href = "/ref/delete/" + id;
        } else {
        return;
        }
    }
</script>
