<div class="container-fluid py-5 border-top">
    <div class="container py-5 my-5">
        <div class="row justify-content-center">
            <div class="col-md-6 rounded position-relative">
                <img class="img-fluid w-100 h-100 rounded" src="/img/member_join.jpg" style="object-fit: cover; filter: brightness(0.7);">
                <a class="badge fs-2 px-5 py-3 text-white rounded position-absolute top-50 start-50 translate-middle" style="background: rgba(255, 181, 36, 0.7)" href="/member">일반회원가입</a>
            </div>
            <div class="col-md-6 rounded position-relative">
                <img class="img-fluid w-100 h-100 rounded" src="/img/seller_join.jpg" style="object-fit: cover; filter: brightness(0.85);">
                <a  class="badge fs-2 px-5 py-3 text-white rounded position-absolute top-50 start-50 translate-middle" style="background: rgba(129, 196, 8, 0.7)" href="/seller">판매자회원가입</a>
            </div>
        </div>
    </div>
</div>