<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">일반회원가입</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item active text-white">Join</li>
    </ol>
</div>
<!-- Single Page Header End -->
<!-- Checkout Page Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <form action="/member" method="post" enctype="multipart/form-data" id="memberSaveForm">
            <div class="row g-5 justify-content-center">
                <div class="col-md-12 col-lg-6 col-xl-7">
                    <div id="imagePreviewBox" class="row g-2 justify-content-center">
                        <img src="/img/yumyums_member.jpg" class="col-4 p-0 shadow">
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3" for="image">프로필 이미지</label>
                        <input type="file" class="form-control" id="image" name="memberImg" accept="image/*" onchange="previewImage(event)">
                        <div class="form-text">이미지 파일을 업로드하세요 (JPG, PNG 형식)</div>
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3" for="memberId">아이디<sup>*</sup></label>
                        <input type="text" class="form-control" id="memberId" name="memberDTO.memberId">
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3" for="password">비밀번호 <sup>*</sup></label>
                        <input type="password" class="form-control" name="memberDTO.password" id="password" placeholder="비밀번호 입력">
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3" for="passwordChk">비밀번호 확인<sup>*</sup></label>
                        <input type="password" class="form-control" name="passwordChk" id="passwordChk" placeholder="비밀번호 입력" disabled>
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3" for="name">이름<sup>*</sup></label>
                        <input type="text" class="form-control" id="name" name="memberDTO.name">
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3" for="birth">생년월일<sup>*</sup></label>
                        <input type="date" class="form-control" id="birth" name="memberDTO.birth">
                    </div>
                    <div class="form-item">
                        <div class="row">
                            <div class="col-md-12 col-lg-6">
                                <div class="form-check w-100">
                                    <label class="form-check-label my-3" for="male">남자</label>
                                    <input type="radio" class="form-check-input my-3" name="memberDTO.gender" id="male" value="M" checked>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-6">
                                <div class="form-check w-100">
                                    <label class="form-check-label my-3" for="female">여자</label>
                                    <input type="radio" class="form-check-input my-3" name="memberDTO.gender" id="female" value="F">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3" for="phone">연락처<sup>*</sup></label>
                        <input type="text" class="form-control" name="memberDTO.phone" id="phone">
                    </div>
                    <div class="form-item mt-3">
                        <label class="form-label my-3" for="email">이메일 주소<sup>*</sup></label>
                        <div class="d-flex justify-content-between align-items-center">
                            <input type="email" class="form-control w-75" id="email" name="memberDTO.email">
                            <button type="button" id="sendEmailBtn" class="btn btn-secondary py-1 px-2 w-20" onclick="sendEmail();">메일 보내기</button>
                        </div>
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3" for="emailChk">이메일 인증<sup>*</sup></label>
                        <input type="text" class="form-control" id="emailChk" name="emailChk" placeholder="숫자 6자리 입력" onkeyup="checkEmail(event, this);" disabled>
                    </div>

                    <div class="form-item mt-3" id="markStations">
                        <label class="form-label my-3">자주가는 지역 (최대 3개)</label>
                        <div class="d-flex justify-content-between align-items-end small mb-2 border-bottom">
                            <span class="col-4">역이름</span>
                            <span class="col-6">이름(별명)</span>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary py-1 px-2 w-20" onclick="modalBtnClick(event);">
                                지역 추가
                            </button>
                        </div>

                    </div>
                </div>
                <div class="row g-4 text-center align-items-center justify-content-center pt-4">
                    <button id="joinButton" type="submit" form="memberSaveForm" class="btn border-secondary py-3 px-4 col-md-12 col-lg-6 col-xl-7 text-uppercase text-primary" disabled>회원 가입</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Checkout Page End -->
<th:block  th:replace="user/addStation"></th:block>
<script src="js/user/emailVerification.js"></script>
<script src="../../js/common/images.js"></script>


