<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">매장 추가</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item active text-white">Stores</li>
    </ol>
</div>
<!-- Single Page Header End -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <form action="/stores" method="post" enctype="multipart/form-data">
            <div class="row g-5 align-items-center justify-content-center">
                <div class="col-md-12 col-lg-6 col-xl-7">

                    <div id="imagePreviewBox" class="row g-2 justify-content-center">
                        <img src="/img/yumyums_store.jpg" class="col-4 p-0 shadow">
                    </div>
                    <div class="form-item">
                        <label class="form-label" for="image">매장 이미지</label>
                        <input type="file" class="form-control" id="image" name="storeImg" accept="image/*" onchange="previewImage(event)">
                        <div class="form-text">이미지 파일을 업로드하세요 (JPG, PNG 형식)</div>
                    </div>

                    <div class="form-item">
                        <label class="form-label my-3" for="name">카테고리(업종) <sup>*</sup></label>
                        <select class="form-select" name="category" required>
                            <option value="" selected disabled hidden>카테고리 선택</option>
                            <option th:each="category : ${categories}"
                                    th:value="${category.name()}"
                                    th:text="${category.korName}"></option>
                        </select>
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3" for="name">매장명 <sup>*</sup></label>
                        <input type="text" class="form-control" id="name" name="name" oninput="duplicate(event, 'storeName');" required>
                        <div class="valid-feedback">
                            사용 가능한 매장명
                        </div>
                        <div class="invalid-feedback">
                            중복된 매장명
                        </div>
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3" for="password">비밀번호 <sup>*</sup></label>
                        <input type="password" class="form-control" name="password" id="password" placeholder="비밀번호 입력" required>
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3" for="passwordChk">비밀번호 확인 <sup>*</sup></label>
                        <input type="password" class="form-control" name="passwordChk" id="passwordChk" placeholder="비밀번호 입력" disabled>
                    </div>
                    <div class="form-item mt-3">
                        <div class="row g-2 justify-content-center">
                            <div id="map" class="shadow" style="width:300px;height:300px;margin-top:10px;"></div>
                        </div>
                        <label class="form-label my-3" for="address">주소 <sup>*</sup></label>
                        <div class="d-flex justify-content-between align-items-center">
                            <input type="text" class="form-control" id="address" name="address" readonly>
                            <input type="button" class="btn btn-secondary py-1 px-2 w-20" onclick="searchAddressSetCoords()" value="주소 검색"><br>
                            <input type="hidden" id="convX" name="convX">
                            <input type="hidden" id="convY" name="convY">
                        </div>
                    </div>
                    <div class="row">
                        <div class="my-3">
                            <span>영업시간 <sup>*</sup></span>
                        </div>
                        <div class="col form-floating">
                            <select class="form-select" id="openTime" name="openTime" required>
                                <option value="" selected disabled hidden>시간 선택</option>
                                <option th:each="hour : ${#numbers.sequence(0, 24)}"
                                        th:value="${hour}"
                                        th:text="${hour < 10 ? '0' + hour : hour}"></option>
                            </select>
                            <label for="openTime">시작시간</label>
                        </div>
                        <div class="col form-floating">
                            <select class="form-select" id="closeTime" name="closeTime" required>
                                <option value="" selected disabled hidden>시간 선택</option>
                                <option th:each="hour : ${#numbers.sequence(0, 24)}"
                                        th:value="${hour}"
                                        th:text="${hour < 10 ? '0' + hour : hour}"></option>
                            </select>
                            <label for="closeTime">마감시간</label>
                        </div>
                    </div>
                    <div class="form-item">
                        <label class="form-label my-3" for="content">한줄 소개글</label>
                        <textarea class="form-control" id="content" name="content" rows="3">신선한 재료와 따뜻한 서비스가 가득한 우리 식당에서 특별한 미식을 경험해보세요.</textarea>
                    </div>


                </div>
                <div class="row g-4 text-center align-items-center justify-content-center pt-4">
                    <input type="submit" value="매장 추가" class="btn border-secondary py-3 px-4 col-md-12 col-lg-6 col-xl-7 text-uppercase text-primary">
                </div>
            </div>
        </form>
    </div>
</div>

<script src="../../js/common/duplicate.js"></script>
<script src="../../js/common/images.js"></script>
<script src="../../js/user/address.js"></script>

