<!--<canvas id="barChart"></canvas>-->
<!--<canvas id="lineChart"></canvas>-->
<!--<canvas id="pieChart"></canvas>-->

<div class="page-inner">
    <div class="row">
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-2">
                    <div class="nav flex-column nav-pills nav-secondary" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="v-pills-home-tab" data-term="day" data-bs-toggle="pill" href="#" role="tab" aria-controls="v-pills-home" aria-selected="true">일별</a>
                        <a class="nav-link" id="v-pills-profile-tab"     data-term="month" data-bs-toggle="pill" href="#" role="tab" aria-controls="v-pills-profile" aria-selected="false">월별</a>
                        <a class="nav-link" id="v-pills-messages-tab"    data-term="year" data-bs-toggle="pill" href="/api/v1/dailySums/3" role="tab" aria-controls="v-pills-messages" aria-selected="false">년도별</a>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">매출 그레프</div>
                        </div>
                        <div class="card-body">
                            <div class="chart-container"><div class="chartjs-size-monitor" style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                                <canvas id="lineChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <div class="nav flex-column nav-pills nav-secondary" id="" role="tablist" aria-orientation="vertical">
                      검색 설정
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">매출 분석</div>
                        </div>
                        <div class="card-body">
                            <div class="chart-container"><div class="chartjs-size-monitor" style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                                <table id="myTable" class="display">
                                    <thead>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>



<script >
    var  storeId = "[[${session.storeId}]]";
</script>

<script src="../../js/common/jquery.js"></script>
<link href="https://cdn.datatables.net/2.1.2/css/dataTables.dataTables.min.css" rel="stylesheet">
<script src="https://cdn.datatables.net/2.1.2/js/dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>
<script src="../../js/dashboard/analysis.js"></script>
