<div class="page-inner">
    <div class="row justify-content-center align-items-center mb-1">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="card card-stats card-round">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div
                                        class="icon-big text-center icon-warning bubble-shadow-small"
                                >
                                    <i class="fas fa-money-bill-wave"></i>
                                </div>
                            </div>
                            <div class="col col-stats ms-3 ms-sm-0">
                                <div class="numbers">
                                    <p class="card-category" >금일 매출액</p>
                                    <h4 class="card-title" th:text="${storeInfo.todaySaleVolume}+ 원"></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card card-stats card-round">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div
                                        class="icon-big text-center icon-info bubble-shadow-small"
                                >
                                    <i class="fas fa-user-check"></i>
                                </div>
                            </div>
                            <div class="col col-stats ms-3 ms-sm-0">
                                <div class="numbers">
                                    <p class="card-category">금일 주문건수</p>
                                    <h4 class="card-title" th:text="${storeInfo.todayOrderCount} + 건" ></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card card-stats card-round">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <div
                                        class="icon-big text-center icon-danger bubble-shadow-small "
                                >
                                    <i class="fas  fa-heart"></i>
                                </div>
                            </div>
                            <div class="col col-stats ms-3 ms-sm-0">
                                <div class="numbers">
                                    <p class="card-category ">금일 평점</p>
                                    <h4 class="card-title inline-block float-left" th:text="${storeInfo.todayRating}">

                                    </h4>
                                    <span class="font-size-14 float-left">
                                    <p id="differ-rate"></p>
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card card-stats card-round">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-icon">
                                <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">
                                    <li class="nav-item topbar-user dropdown hidden-caret">
                                        <button type="button"
                                                class="icon-big text-center icon-secondary bubble-shadow-small btn btn-success dropdown-toggle profile-pic main-busy-btn" id="alert_demo_3_3"
                                                data-bs-toggle="dropdown"
                                                href="#"
                                                aria-expanded="false">
                                            <i class="far fa-check-circle"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-user animated fadeIn">
                                            <div class="dropdown-user-scroll scrollbar-outer ">
                                                <li>
                                                    <div class="page-inner ">
                                                        <div class="user-box">
                                                            <h3>혼잡도 설정</h3>
                                                        </div>
                                                        <div class="user-box">
                                                            <button type="button" class="btn btn-info busy-buttons" id="alert_demo_3_42" data-busy="SPACIOUS">
                                                                여유
                                                            </button> : 30% 이하의 포화도
                                                        </div>
                                                        <div class="user-box">
                                                            <button type="button" class="btn btn-success busy-buttons" id="alert_demo_3_32-" data-busy="NOMAL">
                                                                보통
                                                            </button> : 30% ~ 50% 의 포화도
                                                        </div>
                                                        <div class="user-box">
                                                            <button type="button" class="btn btn-warning busy-buttons" id="alert_demo_3_12" data-busy="CROWDED">
                                                                혼잡
                                                            </button> : 50% ~ 80%의 포화도
                                                        </div>
                                                        <div class="user-box">
                                                            <button type="button" class="btn btn-danger busy-buttons" id="alert_demo_3_22" data-busy="FULL">
                                                                불가능
                                                            </button> : 80% 이상의 포화도
                                                        </div>
                                                    </div>
                                                </li>
                                            </div>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="col col-stats ms-3 ms-sm-0">
                                <div class="numbers">
                                    <h4 class="card-title">금일 혼잡도</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row mb-1" >
        <div class="col-md-2 ps-md-0" th:each="ordersHash : ${ordersHashList}">
            <div class="card card-pricing">
                <div class="card-header" >
                    <h4 class="card-title" th:text="${ordersHash.ordersState}"></h4>
                    <div class="card-price">
                        <span class="price" th:text="${ordersHash.orders.waitingNum}"></span>
                    </div>
                </div>
                <div class="card-body order-detail-list">
                    <ul class="specification-list">
                        <li>
                            <span class="name-specification">메뉴</span>
                            <span class="status-specification">수량</span>
                        </li>
                        <li th:each="ordersDetail : ${ordersHash.ordersDetailList}">
                            <span class="name-specification" th:text="${ordersDetail.menuName}"></span>
                            <span class="status-specification" th:text="${ordersDetail.menuCount}"></span>
                        </li>
                    </ul>
                </div>
                <div class="card-footer" th:text="${ordersHash.orders.ordersTime}">
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" th:value="${storeInfo.storeBusy}" id="storeBusy">
<script src="../../js/common/jquery.js"></script>
<script>
    var  differRate = "[[${storeInfo.differRate}]]";
    var  storeId = "[[${session.storeId}]]";
    var  storeBusy = "[[${session.storeBusy}]]";

</script>

<script src="../../js/dashboard/dashboard.js"></script>
<link href="../../css/dashboard/dashboard.css" rel="stylesheet">