
<body>
    <table border="">
        <tr>
            <th>id</th>
            <th>title</th>
            <th>writer</th>
            <th>date</th>
            <th>hits</th>
        </tr>
        <tr th:each="faq : ${faqList}">
            <td th:text="${faq.id}"></td>
            <td th:text="${faq.title}"></td>
            <td th:text="${faq.category}"></td>
        </tr>
    </table>
    <button onclick="saveReq()">글 작성</button>
</body>
<script>
    const saveReq = () => {
        location.href= "/board/save";
    }

</script>
