
.party-container {
    max-width: 600px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.party-form {
    padding: 20px;
}

.party-form-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.party-form-header img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.party-form-find-store,
.party-option {
    margin-bottom: 20px;
}

.party-option-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.party-option-header img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.party-option-item {
    margin: 10px 0;
}

button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.radio-container {
    display: inline-block; /* 가로로 나열 */
    margin-right: 15px; /* 버튼 간의 간격 조정 */
}

