#chat-page .row {
   width: 185px;
   overflow: auto;
}

#chat-page .add-chat-room {
   width: 125px;
   padding-right: 8px;
}

#chat-page .inline-block {
   display: inline-block;
   vertical-align: top;
}

#chat-page .room-name {
   width: 55px;
   overflow: auto;
   white-space: nowrap;
}

#chat-page .chat-box {
   display: block;
   margin-bottom: 10px; /* 메시지 간의 여백 추가 */
}

#chat-page #chatting{
    /*width: 278px;*/
    width: 326px;
}
#chat-page .chatting, #chat-page .chatting_own {
    max-width: 60%; /* 최대 너비 설정 */
   margin: 5px;
   padding: 5px;
   border-radius: 5px;
   background-color: #f1f1f1;
   white-space: pre-wrap; /* 줄 바꿈 처리 */
   word-wrap: break-word; /* 긴 단어 줄 바꿈 처리 */
}

#chat-page .chatting {
   background-color: #f1f1f1; /* 다른 사용자의 채팅 배경색 */
   align-self: flex-end; /* 오른쪽 정렬 */
}

#chat-page .chatting_own {
   background-color: #d1e7dd; /* 사용자의 채팅 배경색 */
   margin-left: auto; /* 오른쪽 정렬 */
}

#chat-page .chat-window {
   height: 350px;
   overflow-y: auto;
   border: 1px solid #ddd;
   padding: 10px;
}

#chat-page .setUser {
   height: 52px;
}

#chat-page .message-not-read {
   border: 1px solid #f00;
}

#chat-page .chat-member-id {
   list-style: none;
   margin: 5px;
   padding: 5px;
}

#chat-page #conversation {
   display: flex;
   width : 278px;
}

#chat-page #room-info-box {
   height: 40px;
}

#chat-page {
   width: 500px;
   height: 488px;
}
#room-info{
width : 150px;

   overflow: hidden;
}
#chat-page .fruite{
 height: 394px;
 overflow: scroll;
 overflow-x: hidden;
}
.SettingView-module__layer_setting___JwfQs {
    position: fixed;
    right: 24px;
    bottom: 24px;
    z-index: 50;
}
#home-chat{
    position: fixed;
    right: 24px;
    bottom: 94px;
    z-index: 50;
    background-color : white;
}
#chat-page #chat-member-icon{
    width: 24px;
   height: 24px;
}
#room-member{
    width: 50px;
}
#chat-page .nav{
    padding-left: 12px;
}
#chat-page .nav-item a.active {
    background: var(--bs-secondary) !important;
}